@page 
@model DetailModel
@{
    ViewData["Title"] = "ProductDetail";
}

<h3><a asp-page="./List">All product </a><i class="fa fa-angle-right"></i> Product detail</h3>
<div class="row mt">
    <div class="col-md-12">
        <div class="content-panel">
            <table class="table table-striped table-advance table-hover">
                <a asp-page="./NewPhoto" asp-route-id="@Model.ProductDetails.FirstOrDefault().ProductId" class="btn btn-round btn-primary">New photo</a>
                <hr>
                <thead>
                    <tr>
                        <th><i class="fa fa-align-justify"></i> Name</th>
                        <th><i class="fa fa-star"></i> Photo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model.ProductDetails)
                    {
                        <tr>
                            <td><a>@p.Name</a></td>
                            <td> <img src="~/img/@p.ProductImage" height="200" width="200" /> </td>
                            <td>
                                <a asp-page="./EditPhoto" asp-route-id="@p.Id" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                <a asp-page="./Detail" asp-page-handler="Delete" asp-route-id="@p.Id" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>