@page
@model AddressModel
@{
    ViewData["Title"] = "Address";
}
@section scripts{
    <script src="~/js/site.js"></script>
}
<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
                            <li aria-current="page" class="breadcrumb-item active">Checkout - Address</li>
                        </ol>
                    </nav>
                </div>
                <div id="checkout" class="col-lg-9">
                    <div class="box">
                        <form method="post">
                            <h1>Checkout - Address</h1>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="nav flex-column flex-md-row nav-pills text-center">
                                <a href="#" class="nav-link flex-sm-fill text-sm-center active"> <i class="fa fa-map-marker"></i>Address</a>
                                <a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> <i class="fa fa-truck"></i>Delivery Method</a>
                                <a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> <i class="fa fa-money"></i>Payment Method</a>
                                <a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> <i class="fa fa-eye"></i>Order Review</a>
                            </div>
                            <div class="content py-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="ReceiveProduct.FirstName" for="firstname">Firstname</label>
                                            <input asp-for="ReceiveProduct.FirstName" id="firstname" type="text" class="form-control">
                                            <span asp-validation-for="ReceiveProduct.FirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="ReceiveProduct.LastName" for="lastname">Lastname</label>
                                            <input asp-for="ReceiveProduct.LastName" id="lastname" type="text" class="form-control">
                                            <span asp-validation-for="ReceiveProduct.LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="ReceiveProduct.ShipToAddress" for="address">Address</label>
                                            <input asp-for="ReceiveProduct.ShipToAddress" id="company" type="text" class="form-control">
                                            <span asp-validation-for="ReceiveProduct.ShipToAddress" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="ReceiveProduct.ShipToStreet" for="street">Street</label>
                                            <input asp-for="ReceiveProduct.ShipToStreet" id="street" type="text" class="form-control">
                                            <span asp-validation-for="ReceiveProduct.ShipToStreet" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label>Country</label>
                                            <select asp-items="@Model.Countries" id="country" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label>State or Province</label>
                                            <select asp-items="@Model.StateOrProvinces" id="city" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="ReceiveProduct.DistrictId" for="district">District</label>
                                            <select asp-for="ReceiveProduct.DistrictId" asp-items="@Model.Districts" id="district" class="form-control"></select>
                                            <span asp-validation-for="ReceiveProduct.DistrictId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="ReceiveProduct.Phone" for="phone">Telephone</label>
                                            <input asp-for="ReceiveProduct.Phone" id="phone" type="text" class="form-control">
                                            <span asp-validation-for="ReceiveProduct.Phone" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="ReceiveProduct.Email" for="email">Email</label>
                                            <input asp-for="ReceiveProduct.Email" id="email" type="text" class="form-control">
                                            <span asp-validation-for="ReceiveProduct.Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer d-flex justify-content-between">
                                <a asp-page="./Address" asp-page-handler="City" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>Back to Basket</a>
                                <button type="submit" class="btn btn-primary">Continue to Delivery Method<i class="fa fa-chevron-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                @(await Component.InvokeAsync("OrderSummary"))
            </div>
        </div>
    </div>
</div>

